/*--------------------------------- Images */

.hero-img-home {
    position: relative;
    background: url('../images/hero-home-3.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.hero-img-home::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #ffffff00, #DDD0C8);
}

.hero-img-what {
    position: relative;
    background: url('../images/hero-what-we-do-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}

.corp-travel {
    position: relative;
    background: url('../images/corporate-travel.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}

.private-jet-travel {
    position: relative;
    background: url('../images/private-jet.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}

.marine-travel {
    position: relative;
    background: url('../images/marine-travel-2.jpeg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}

.group-travel {
    position: relative;
    background: url('../images/group-travel.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}

.meeting-room {
    position: relative;
    background: url('../images/meetings.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}

.visa-travel {
    position: relative;
    background: url('../images/visas.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}

.hero-img-sustainability {
    position: relative;
    background: url('../images/sustainability.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}

.hero-img-who {
    position: relative;
    background: url('../images/who-are-we-2.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}

.ceo-img {
    background: url('../images/ceo.jpeg');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.cfo-img {
    background: url('../images/cfo.jpeg');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.hoops-img {
    background: url('../images/head-of-ops.jpg');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.hoaacc-img {
    background: url('../images/head-of-accounts.jpeg');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.hoacc-man-img {
    background: url('../images/head-of-account-managment.jpeg');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.hocom-img {
    background: url('../images/head-of-commerrcials.jpeg');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.hero-contact-us-img {
    background: url('../images/contact-us-hero.jpg');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}

/*--------------------------------- Background Colors */

.why-section-bg-color,
.what-heading-bg-color,
.sustainability-section,
.who-are-we-section,
.contact-section-bg-color {
    background-color: #DDD0C8;
}


/*--------------------------------- General */

body {
    margin: 0;
    padding: 0;
}

.why-section h3,
.why-section h5,
.expertise-section h3,
.expertise-text h5,
.what-heading-section h1,
.sustainability-section h1,
.vision-section h3,
.values-section h3,
.meet-the-team h1,
.contact-section h1 {
    font-family: 'Bebas Neue', sans-serif;
}

.why-section h3,
.why-section h5,
.why-section p,
.expertise-section p,
.sustainability-section h1,
.sustainability-section p,
.vision-section h3,
.values-section h3,
.meet-the-team h1,
.contact-section h1 {
    color: #2f4858;
}

.what-heading-section h1,
.contact-section h1 {
    font-size: 70px;
    letter-spacing: 2px;
}

.why-section h3,
.expertise-section h3,
.vision-section h3,
.values-section h3,
.meet-the-team h3 {
    font-size: 50px;
    letter-spacing: 2px;
}

.why-section h5,
.staff-names h5 {
    font-size: 30px;
    letter-spacing: 1px;
}

.why-section p,
.what-heading-section p,
.expertise-section p,
.sustainability-section p,
.vision-section p,
.values-content p,
.staff-names p,
.meet-the-team p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

}

.what-heading-section,
.expertise-section h3,
.vision-section p,
.values-content p,
.meet-the-team p {
    color: #2f4858;
}



/*------------- Nav Bar -----------------*/

.navbar-brand {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 45px;
    color: #DDD0C8;
    letter-spacing: 2px;
}


.nav-menu {
    background-color: #2f4858;
}


.navbar-nav .nav-item a {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    color: #DDD0C8;
    padding-top: 10px;
}

.hamburger-menu {
    background-color: #DDD0C8;
}

/*------------- Question Section ---------*/



.question-container {
    position: absolute;
    top: 25%;
    right: 15px;
}

.question-section {
    font-family: "Bebas Neue", sans-serif;
    font-size: 70px;
    z-index: 1;
    color: #2f4858;
}

.question-button {
    font-family: "Roboto", sans-serif;
    z-index: 1;
    color: #DDD0C8;
    background-color: #2f4858;
    border-color: #2f4858;
}

.question-button:hover {
    color: #2f4858;
    border-color: #2f4858;
}

/*-----------------Main Section----------------  */

.why-section {
    margin: 0;
}

.expertise-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.expertise-text h5 {
    color: #DDD0C8;
    font-size: 25px;
    letter-spacing: 2px;
    padding-top: 10px;
}


.staff-names h5,
.staff-names p {
    color: #DDD0C8;
}

/*--------------------------------- Sustainability Section*/

.sustainability-section {
    padding: 30px 0 30px 0;
}

.sustainability-section h1 {
    font-size: 70px;
    letter-spacing: 2px;
    padding-bottom: 10px;
}



/*--------------------------------- Who we are section */

.who-are-we-section {
    background-color: #DDD0C8;
}

.meet-the-team h1 {
    font-size: 70px;
    letter-spacing: 2px;
}

.staff-names {
    position: absolute;
    bottom: -60px;
    right: -10px;
    width: 270px;
    background: rgba(47, 72, 88, 0.8);
    text-align: center;
    padding: 5px 0;
}

.meet-the-team {
    padding: 70px 30px 0 30px;
}



.vision-section,
.values-section {
    padding: 70px 30px 0 30px;
}

/*--------------------------------- Vision and Vlues section */

.values-content {
    padding: 10px;
}

/*--------------------------------- Contact us */

.name,
.enquiry-type,
.email,
.contact-number,
.company-name,
.message {
    border: #A69199;
    background-color: #A69199;
    color: #2f4858;
    border-style: solid;
}

.name::placeholder,
.email::placeholder,
.contact-number::placeholder,
.company-name::placeholder,
.message::placeholder {
    color: #2f4858;
    font-style: italic;
}

select .option {
    color: #2f4858;
    font-style: italic;
}

.submit-butt button {
    color: #DDD0C8;
    background-color: #2f4858;
    border-color: #2f4858;
}

.submit-button:hover {
    border-color: #2f4858;
    border-style: solid;
    color: #2f4858;
}

.address h5 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    color: #2f4858;
}

.address p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #2f4858;
}

.phone {
    padding-top: 15px;
}

.address-section {
    padding-left: 100px;
    padding-bottom: 70px;
}

.map-section {
    padding-top: 40px;
}


/*--------------------------------- Footer */

#footer-details {
    background-color: #2f4858;
    padding: 30px 0 30px 0;
}

.contact-hours-info h4,
.contact-hours-info p {
    margin-bottom: 0;
    margin-left: 10px;
    color: #DDD0C8;
    font-family: 'Roboto', sans-serif;
}

.contact-hours-info h4 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}

.contact-hours-info p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.contact-hours-info {
    padding-left: 30px;
}

.social-links {
    padding-right: 30px;
}


.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 8px;
    text-align: center;
    color: #2f4858;
    background: #DDD0C8;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.social-links .facebook-color:hover {
    background-color: #3b5998;
    color: #DDD0C8
}

.social-links .linkedin-color:hover {
    background-color: #0077b5;
    color: #DDD0C8
}

.social-links .instagram-color:hover {
    background: linear-gradient(45deg, #f09433 10%, #e6683c 35%, #dc2743 60%, #cc2366 85%, #bc1888 100%);
    color: #DDD0C8
}

.social-links .youtube-color:hover {
    background-color: #c4302b;
    color: #DDD0C8
}


/*--------------------------------- Media queries */

@media (max-width: 768px) {
    .navbar-nav .nav-item a {
        font-size: 14px;
    }

    .logo-section {
        font-size: 18px;
    }

    .navbar-toggler {
        position: relative;
        font-size: 24px;
        width: 30px;
        height: 30px;
    }

    .hamburger-menu span {
        position: absolute;
        top: 4px;
        left: 4px;
        width: 20px;
        height: 20px;
    }

    .hero-img-home {
        height: 50vh;
    }

    .hero-img-home::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to right, #ffffff00, #DDD0C8);
    }

    .question-container {
        top: 10%;
        right: 15px;
    }

    .question-section {
        font-size: 40px;

    }

    .why-section h3 {
        font-size: 35px;
    }

    .why-section h5 {
        font-size: 25px;
    }

    .why-section p {
        font-size: 16px;
    }

    .contact-hours-info p {
        font-size: 10px;
    }

    #footer-details .social-icons {
        justify-content: center;
    }

    .social-links {
        padding-right: 15px;
        padding-left: 15px;
    }

    .hero-img-sustainability {
        position: relative;
        background: url('../images/sustainability.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 300px;
    }

    .hero-img-who {
        position: relative;
        background: url('../images/who-are-we-2.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 300px;
    }
    .address-section {
        padding-left: 0;
        padding-bottom: 70px;
    }


}

@media (max-width: 425px) {
    .question-button {
        display: block;
        width: fit-content;
        margin-left: auto;
        margin-right: 0;
    }

}