/*--------------------------------- General */

body {
    margin: 0;
    padding: 0;
}

.what-heading-section h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 70px;
}

/*--------------------------------- Images */

.hero-img-home {
    position: relative;
    background: url('../images/hero-home-3.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.hero-img-home::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #ffffff00, #DDD0C8);
}

.hero-img-what {
    position: relative;
    background: url('../images/hero-what-we-do-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}

.corp-travel {
    position: relative;
    background: url('../images/corporate-travel.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}

.private-jet-travel {
    position: relative;
    background: url('../images/private-jet.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}

.marine-travel {
    position: relative;
    background: url('../images/marine-travel-2.jpeg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}

.group-travel {
    position: relative;
    background: url('../images/group-travel.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}

.meeting-room {
    position: relative;
    background: url('../images/meetings.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}

.visa-travel {
    position: relative;
    background: url('../images/visas.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}

.hero-img-sustainability {
    position: relative;
    background: url('../images/sustainability.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}

.hero-img-who {
    position: relative;
    background: url('../images/who-are-we-2.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}

/*--------------------------------- Colors */

.why-section-bg-color,
.what-heading-bg-color,
.sustainability-section,
.who-are-we-section {
    background-color: #DDD0C8;
}


/*--------------------------------- Home */

/*------------- Nav Bar -----------------*/

.navbar-brand {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 45px;
    color: #DDD0C8;
    letter-spacing: 2px;
}


.nav-menu {
    background-color: #2f4858;
}


.navbar-nav .nav-item a {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    color: #DDD0C8;
    padding-top: 10px;
}

.hamburger-menu {
    background-color: #DDD0C8;
}

/*------------- Question Section ---------*/



.question-container {
    position: absolute;
    top: 25%;
    right: 15px;
}

.question-section {
    font-family: "Bebas Neue", sans-serif;
    font-size: 70px;
    z-index: 1;
    color: #2f4858;
}

.question-button {
    font-family: "Roboto", sans-serif;
    z-index: 1;
    color: #DDD0C8;
    background-color: #2f4858;
    border-color: #2f4858;
}

.question-button:hover {
    color: #2f4858;
    border-color: #2f4858;
}

/*-----------------Main Section----------------  */

.why-section {
    margin: 0;
}

.why-section h3,
.why-section h5,
.expertise-section h3,
.expertise-text h5,
.sustainability-section h1 {
    font-family: 'Bebas Neue', sans-serif;
}

.why-section h3,
.why-section h5,
.why-section p,
.expertise-section p,
.sustainability-section h1,
.sustainability-section p {
    color: #2f4858;
}

.why-section h3,
.expertise-section h3 {
    font-size: 50px;
    letter-spacing: 2px;
}

.why-section h5 {
    font-size: 30px;
    letter-spacing: 1px;
}

.why-section p,
.what-heading-section p,
.expertise-section p,
.sustainability-section p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

}

.what-heading-section,
.expertise-section h3 {
    color: #2f4858;
}

.expertise-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.expertise-text h5 {
    color: #DDD0C8;
    font-size: 25px;
    letter-spacing: 2px;
    padding-top: 10px;
}

.sustainability-section h1 {
    letter-spacing: 2px;
}

/*--------------------------------- Who we are section */

.staff-portrait {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 200px;
    height: 200px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
    margin: 15px auto 0 auto;

}


/*--------------------------------- Footer */

#footer-details {
    background-color: #2f4858;
    padding: 30px 0 30px 0;
}

.contact-hours-info h4,
.contact-hours-info p {
    margin-bottom: 0;
    margin-left: 10px;
    color: #DDD0C8;
    font-family: 'Roboto', sans-serif;
}

.contact-hours-info h4 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}

.contact-hours-info p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.contact-hours-info {
    padding-left: 30px;
}

.social-links {
    padding-right: 30px;
}


.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 8px;
    text-align: center;
    color: #2f4858;
    background: #DDD0C8;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.social-links .facebook-color:hover {
    background-color: #3b5998;
    color: #DDD0C8
}

.social-links .linkedin-color:hover {
    background-color: #0077b5;
    color: #DDD0C8
}

.social-links .instagram-color:hover {
    background: linear-gradient(45deg, #f09433 10%, #e6683c 35%, #dc2743 60%, #cc2366 85%, #bc1888 100%);
    color: #DDD0C8
}

.social-links .youtube-color:hover {
    background-color: #c4302b;
    color: #DDD0C8
}


/*--------------------------------- Media queries */

@media (max-width: 768px) {
    .navbar-nav .nav-item a {
        font-size: 14px;
    }

    .logo-section {
        font-size: 18px;
    }

    .navbar-toggler {
        position: relative;
        font-size: 24px;
        width: 30px;
        height: 30px;
    }

    .hamburger-menu span {
        position: absolute;
        top: 4px;
        left: 4px;
        width: 20px;
        height: 20px;
    }

    .hero-img-home {
        height: 50vh;
    }

    .hero-img-home::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to right, #ffffff00, #DDD0C8);
    }

    .question-container {
        top: 10%;
        right: 15px;
    }

    .question-section {
        font-size: 40px;

    }

    .why-section h3 {
        font-size: 35px;
    }

    .why-section h5 {
        font-size: 25px;
    }

    .why-section p {
        font-size: 16px;
    }

    .contact-hours-info p {
        font-size: 10px;
    }

    #footer-details .social-icons {
        justify-content: center;
    }

    .social-links {
        padding-right: 15px;
        padding-left: 15px;
    }

    .hero-img-sustainability {
        position: relative;
        background: url('../images/sustainability.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 425px) {
    .question-button {
        display: block;
        width: fit-content;
        margin-left: auto;
        margin-right: 0;
    }
}